#Contact {
    background-color:rgba(0,0,0,0.93);
    padding-top: 60px;
    padding-bottom: 70px;
    width:100vw;
    margin-left:0 ;
    height:fit-content;
    letter-spacing: 1.5px;
    color: rgba(0,0,0,0.93);
}


#ContactHeading {
    font-size:28px;
    text-align: center;
    color:tomato;
    font-family: 'Kameron', serif;
    width:100vw;
    letter-spacing: 1px !important;
    padding-bottom: 0px;
}

#ContactDesc {
    width:100%;
    text-align: center;
    margin-top:20px;
    color:whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size:17px;
    letter-spacing: 2px;
}

#ContactSocial {
    margin-top:-110px; 
    margin-left:42.3%;
    width:15% !important;
    text-align: center  ;
}

#ContactSocial .SocialItems a i {
    font-size:25px !important;
}


#Contact-Mail {
    margin-top:40px;
    width:100%;
    text-align: center; 
    color:whitesmoke;
}


#Contact-Mail a{
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

#Contact-Mail a:hover{
    color: tomato
}

#Contact-Phone {
    width:100%;
    text-align: center; 
    color:whitesmoke;
}


#Contact-Phone a{
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

#Contact-Phone a:hover{
    color: tomato
}



@media screen and (max-width:500px) {
    
    #ContactHeading {
        font-size: 24px;
    }
    
    #ContactDesc {
        font-size:15px;
    }
    
    #ContactSocial {
        width:45% !important;
        margin-left:27%;
        margin-top:-80px !important;
    }

    #ContactSocial .SocialItems a i {
        font-size:20px !important;
    }

    #Contact-Mail {
        margin-top:35px;
    }

    #Contact-Mail a{
        font-size: 13px;
    }

    #Contact-Phone a{
        font-size: 13px;
    }

}



@media screen and (min-width:501px) and (max-width:1000px) {
    #ContactDesc {
        font-size:13px;
    }

    #ContactHeading {
        font-size:24px;
    }
    
    #ContactSocial {
        width:25% !important;
        margin-top:-95px;
        margin-left:37%;
    }

    #ContactSocial .SocialItems a i {
        font-size:20px !important;
    }
    
    #Contact-Mail {
        margin-top: 40px;
    }

    #Contact-Mail a{
        font-size: 13px;
    }

    #Contact-Phone a{
        font-size: 13px;
    }

}