#Contact {
    background-color:rgba(0,0,0,0.93);
    padding-top: 60px;
    padding-bottom: 70px;
    width:100vw;
    margin-left:0 ;
    height:fit-content;
    letter-spacing: 1.5px;
    color: rgba(0,0,0,0.93);
}


#ContactHeading {
    font-size:28px;
    text-align: center;
    color:tomato;
    font-family: 'Kameron', serif;
    width:100vw;
    letter-spacing: 1px !important;
    padding-bottom: 0px;
}

#ContactDesc {
    width:100%;
    text-align: center;
    margin-top:20px;
    color:whitesmoke;
    font-family: 'Questrial', sans-serif;
    font-size:17px;
}

#ContactSocial {
    margin-top:-80px; 
    margin-left:42.3%;
    width:15% !important;
    text-align: center  ;
}

#ContactSocial .SocialItems a i {
    font-size:25px !important;
}


@media screen and (max-width:500px) {
    
    #ContactHeading {
        font-size: 24px;
    }
    
    #ContactDesc {
        font-size:15px;
    }
    
    #ContactSocial {
        width:45% !important;
        margin-left:27.5%;
        margin-top:-50px !important;
    }

    #ContactSocial .SocialItems a i {
        font-size:20px !important;
    }

}



@media screen and (min-width:501px) and (max-width:1000px) {
    #ContactDesc {
        font-size:15px;
    }
    
    #ContactSocial {
        width:25% !important;
        margin-top:-80px;
        margin-left:37.5%;
    }

}